<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Navigation</title>
</head>

<body>
	<div class="container" th:fragment="todoForm">
        <!-- Form section -->
        <form method="post" th:object="${todo}">
        	<!-- Include CSRF token -->
    		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        	
        
            <fieldset class="form-group">
                <label>Description</label>
                <input type="text" th:field="*{desc}" class="form-control" required="required" />
                <!-- Add Thymeleaf validation error message -->
                <small class="form-text text-warning" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></small>
            </fieldset>
            <fieldset class="form-group">
                <label for="targetDate">Target Date</label>
                <input type="date" id="targetDate" th:field="*{targetDate}" th:value="${#dates.format(todo.targetDate, 'yyyy-MM-dd')}" required="required" />
                <br />
                <small class="form-text text-warning" th:if="${#fields.hasErrors('targetDate')}" th:errors="*{targetDate}"></small>
            </fieldset>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</body>
</html>